html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
body {
  display: block;
  margin: 8px;
}
body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
  background-color: #002561;
  width: 100%;
  padding: 0;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  color: brown;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}
.container {
  background-color:#62AAC1;
  padding: 20px;
}

.div1 input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  order: 1;
  width: 100%;
  border: 1px solid #ccc;
  height: 30px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  order: 2;
  padding: 12px 12px 12px 0;
  color: white;
}

.CPF {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  order: 3;
  width: 100%;
}
.RG {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  order: 4;
}

.enviar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  order: 5;
}

iframe {
  width: 100%;
}

iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  overflow: hidden;
}

footer {
  background-color:  #002561;
  color: azure;
  padding: 20px;
}
.rede {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: auto;
}
footer p {
  text-align: center;
  font-size: 1.3em;
}
footer img {
  width: 30%;
}

@media screen and (max-width: 600px) {


  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

 
 
}

@media (min-width: 220px) and (max-width: 400px) {
  .navbar {
    font-size: 0.8em;
  }
}
